<p id="notice"><%= notice %></p>

<p>
  <strong>Website:</strong>
  <%= @pay_qrcode_service.website %>
</p>

<%= link_to 'Edit', edit_pay_qrcode_service_path(@pay_qrcode_service) %> |
<%= link_to 'Back', pay_qrcode_services_path %>

